.task-details {
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.delete-button {
    width: 15px;
    height: 15px;
}

.completed-task {
    color: green;
    text-decoration: line-through;
}